---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import MemberCard from "../components/MemberCard.astro";

// Ejemplo de datos; idealmente vendrían de un archivo JSON o Markdown
const team = [
  {
    name: "Dra. Marilyn Cruces",
    role: "Radioastronomer, Professor at UC Chile Max Planck Partner group leader",
    img: "src/images/miembros/mcruces.jpg",
    profile: "https://orcid.org/0000-0001-6804-6513",
  },
  {
    name: "Cristóbal Braga",
    role: "Radioastronomer, Researcher",
    img: "src/images/miembros/cbraga.jpg",
    profile: "https://orcid.org/0009-0000-6017-4211",
  },
  {
    name: "Josefina Vera-Casanova",
    role: "Radioastronomer, Researcher",
    img: "src/images/miembros/jvera.jpg",
    profile: "https://orcid.org/0009-0002-6002-0575",
  },
];
---

<DefaultLayout>
  <h2 class="text-3xl font-bold mb-6 text-center">Nuestro Equipo</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {
      team.map((member) => (
        <MemberCard
          name={member.name}
          role={member.role}
          img={member.img}
          profile={member.profile}
        />
      ))
    }
  </div>
</DefaultLayout>
