---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h2 class="text-3xl font-bold mb-4">RatLab Research</h2>
  <p>At RatLab, we work with data from various radio telescopes:</p>
  <div class="mt-4 space-y-4">
    <div>
      <h3 class="text-2xl font-semibold">ALMA Band 3 (~84 GHz)</h3>
      <p>
        Due to the high frequency and low dispersion in ALMA, we adapt our
        models using domain transfer.
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-semibold">Effelsberg L-band (1.3–1.8 GHz)</h3>
      <p>
        Validation of DRAFTS pipelines with Effelsberg datasets, expanding the
        FRB database and comparing with FAST detections.
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-semibold">FAST L-band (1.3–1.5 GHz)</h3>
      <p>
        Original dataset for DRAFTS training, with over 2,700 recorded bursts
        and unsupervised clustering tests.
      </p>
    </div>
  </div>
</DefaultLayout>
