---
// src/components/Navbar.astro
const base = import.meta.env.BASE_URL;
const resolveUrl = (path: string) => {
  if (path === "/") {
    return base;
  }
  const cleanPath = path.startsWith("/") ? path.substring(1) : path;
  return `${base}${cleanPath}`;
};
---

<nav
  class="relative text-white bg-center bg-cover"
  style={`background-image: url('${resolveUrl("/images/background/Background3.jpg")}');`}
>
  <div class="absolute inset-0 bg-black bg-opacity-60"></div>
  <div
    class="relative container mx-auto max-w-7xl flex items-center justify-between py-4 px-4"
  >
    <a
      href={resolveUrl("/")}
      class="flex items-center space-x-2 text-2xl font-bold"
    >
      <img
        src={resolveUrl("/images/logo/ratLab-logo-removebg-preview.png")}
        alt="Logo RatLab"
        class="h-30 w-30"
      />
    </a>
    <button
      id="menu-toggle"
      class="lg:hidden focus:outline-none ml-auto p-2 rounded-md bg-black bg-opacity-40 hover:bg-opacity-60 transition"
    >
      <svg
        id="icon-open"
        xmlns="http://www.w3.org/2000/svg"
        class="h-7 w-7"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <svg
        id="icon-close"
        xmlns="http://www.w3.org/2000/svg"
        class="h-7 w-7 hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    <ul
      id="nav-menu"
      class="hidden absolute top-full left-0 w-full flex-col bg-black bg-opacity-90 p-4 space-y-4 text-lg font-semibold text-center lg:text-xl lg:flex lg:static lg:flex-row lg:items-center lg:space-y-0 lg:space-x-8 lg:bg-transparent lg:p-0 lg:ml-8 lg:flex-1 lg:justify-center"
    >
      <li><a href={resolveUrl("/")}>Home</a></li>
      <li><a href={resolveUrl("/outreach")}>Outreach</a></li>
      <li><a href={resolveUrl("/research")}>Research</a></li>
      <li><a href={resolveUrl("/members")}>Members</a></li>
      <li><a href={resolveUrl("/publications")}>Publications</a></li>
      <li><a href={resolveUrl("/resources")}>Resources</a></li>
      <li><a href={resolveUrl("/contact")}>Contact</a></li>
    </ul>
  </div>
</nav>
<script>
  const btn = document.getElementById("menu-toggle");
  const menu = document.getElementById("nav-menu");
  const openIcon = document.getElementById("icon-open");
  const closeIcon = document.getElementById("icon-close");

  btn?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
    openIcon?.classList.toggle("hidden");
    closeIcon?.classList.toggle("hidden");
  });
</script>
