---
// src/components/Navbar.astro
---

<nav class="bg-blue-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-bold">RatLab PUC</a>
    <ul class="flex space-x-6">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Sobre Nosotros</a></li>
      <li><a href="/research">Investigación</a></li>
      <li><a href="/members">Miembros</a></li>
      <li><a href="/publications">Publicaciones</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </div>
</nav>
