---
// src/layouts/DefaultLayout.astro
// Este layout envuelve todas las páginas, incluyendo <head>, Navbar y Footer
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RatLab - Radio Transientes PUC</title>
    <link
      rel="icon"
      type="image/png"
      href="/images/logo/ratLab-logo-removebg-preview.png"
    />
    <link
      rel="apple-touch-icon"
      href="/images/logo/ratLab-logo-removebg-preview.png"
    />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <main class="container mx-auto px-4 py-8 flex-grow">
      <slot />
      {/* Aquí va el contenido de cada página */}
    </main>
    <Footer />
  </body>
</html>
